<h1 mat-dialog-title>Nuevo permiso para {{data.espacio.nombre}}</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field appearance="example-full-width">
      <mat-label>Persona</mat-label>
      <mat-select [(ngModel)]="data.persona">
        <mat-option *ngFor="let k of personas" [value]="k">
          {{k.nombre}} {{k.apellidos}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="example-full-width">
      <mat-label>Horario semanal</mat-label>
      <mat-select [(ngModel)]="data.vinculoMomentoEspacio">
        <mat-option *ngFor="let i of horarios" [value]="i">
          <b>{{i.momento.diaDeSemana | translate}}</b> {{i.momento.horarioInicio}} - {{i.momento.horarioFin}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button class="mat-raised-button" (click)="onNoClick()">Descartar</button>
    <button mat-button class="mat-raised-button mat-primary" [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
</div>