<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Control de Accesos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto" *ngIf="user$ | async as user; else login">
            <li class="nav-item" *ngIf="user">
                <a href="#" class="nav-link" (click)="onLogout()">Cerrar sesión</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">{{ user?.email }}</a>
            </li>
        </ul>
        <ng-template #login>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink="login" class="nav-link" routerLinkActive="active">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a routerLink="register" class="nav-link" routerLinkActive="active">Registrarse</a>
                </li>
            </ul>
        </ng-template>
    </div>
</nav>