<app-navbar></app-navbar>

  <div class="container">
    <div class="row">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>

<footer class="footer">
  <div class="container">
      
  </div>
</footer>
