<div class="panel panel-primary">
  <div class="panel-header" style="margin-top: 10px">
    <h1>Espacios</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped" style="width: 100%;">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Gestión</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let espacio of espacios">
          <td>{{espacio.nombre}}</td>
          <td>{{espacio.descripcion}}</td>
          <td style="padding:10px; display: block; ">
            <button (click)="gestionarHorarios(espacio.id)" class="btn btn-outline-primary btn-sm">Horarios semanales</button>
            <button (click)="gestionarPermisos(espacio.id)" class="btn btn-outline-primary btn-sm">Permisos de acceso</button>
            <button (click)="historialIngresos(espacio.id)" class="btn btn-outline-primary btn-sm">Historial de ingresos</button>
            <button (click)="eliminarEspacio(espacio.id)" class="btn btn-outline-danger btn-sm">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <div class="dialog">
      <button type="button" (click)="openDialog()" class="btn btn-primary">Crear espacio</button>
    </div>
  </div>
</div>
