<h1 mat-dialog-title>Nuevo horario</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Día de semana</mat-label>
        <mat-select matInput [(ngModel)]="data.diaDeSemana" class="form-control">
            <mat-option value="0">Lunes</mat-option>
            <mat-option value="1">Martes</mat-option>
            <mat-option value="2">Miércoles</mat-option>
            <mat-option value="3">Jueves</mat-option>
            <mat-option value="4">Viernes</mat-option>
            <mat-option value="5">Sábado</mat-option>
            <mat-option value="6">Domingo</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Horario de apertura</mat-label>
      <input matInput type="time" [(ngModel)]="data.horarioInicio" min="06:00" max="23:59"/>
  </mat-form-field>
      <mat-form-field>
          <mat-label>Horario de cierre</mat-label>
          <input matInput type="time" [(ngModel)]="data.horarioFin" min="06:00" max="23:59"/>
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button mat-button class="mat-raised-button" (click)="onNoClick()">Descartar</button>
      <button mat-button class="mat-raised-button mat-primary" [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
  </div>