
<div class="panel panel-primary">
    <div class="panel-heading" style="margin-top: 10px" *ngIf="espacio">
      <h1>Hostial de ingresos de {{ espacio.nombre }}</h1>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Persona</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingreso of ingresos">
            <td>{{ ingreso.persona.nombre }} {{ ingreso.persona.apellidos }}</td>
            <td>{{ ingreso.fechaIngreso | date:"EEEE" | translate}} {{ ingreso.fechaIngreso | date:"d/M/yy h:mm:ss a"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>