table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  .solicitud-acciones {
    display: table-cell;
    /*width: 490px; */
    float: right;
  }

  .solicitud-acciones .mat-button-base {
    margin: 8px 8px 8px 0;
  }