<div class="panel panel-primary">
    <div class="panel-heading" style="margin-top: 10px" *ngIf="espacio">
      <h1>Personas autorizadas de {{ espacio.nombre }}</h1>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Persona</th>
            <th>Día</th>
            <th>Franja horaria</th>
            <th>Activo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let permiso of permisos">
            <td>{{permiso.persona.nombre}} {{permiso.persona.apellidos}}</td>
            <td>{{permiso.vinculoMomentoEspacio.momento.diaDeSemana | translate}}</td>
            <td>{{permiso.vinculoMomentoEspacio.momento.horarioInicio}} - {{permiso.vinculoMomentoEspacio.momento.horarioFin}}</td>
            <td><input class="form-check-input" style="padding:20px; display: block; margin-left: auto;" type="checkbox" value="" checked=""></td>
          </tr>
        </tbody>
      </table>
      <button mat-raised-button (click)="openDialog()">Agregar permiso manualmente</button>
    </div>

    <div class="panel-heading" style="margin-top: 10px" *ngIf="espacio">
      <h2>Solicitudes</h2>
    </div>
    <div class="panel-body">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Persona Column -->
        <ng-container matColumnDef="persona">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Persona </th>
          <td mat-cell *matCellDef="let solicitud"> {{solicitud.persona.nombre}} {{solicitud.persona.apellidos}} </td>
        </ng-container>
      
        <!-- Día Column -->
        <ng-container matColumnDef="dia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Día </th>
          <td mat-cell *matCellDef="let solicitud"> {{solicitud.vinculoMomentoEspacio.momento.diaDeSemana | translate}} </td>
        </ng-container>
      
        <!-- Franja Horaria Column -->
        <ng-container matColumnDef="franja">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Franja Horaria </th>
          <td mat-cell *matCellDef="let solicitud"> {{solicitud.vinculoMomentoEspacio.momento.horarioInicio }} - {{solicitud.vinculoMomentoEspacio.momento.horarioFin}} </td>
        </ng-container>

        <!-- Franja Horaria Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de solicitud </th>
          <td mat-cell *matCellDef="let solicitud"> {{solicitud.fechaSolicitud | date:'d/M/yy'}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let solicitud">
            <div class="solicitud-acciones">
              <button (click)="aceptarSolicitud(solicitud)" mat-raised-button color="accent">Aceptar</button>
              <button (click)="rechazarSolicitud(solicitud)" mat-raised-button color="warn">Rechazar</button>
            </div>
          </td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>