<div class="panel panel-primary">
    <div class="panel-heading" style="margin-top: 10px" *ngIf="espacio">
      <h1>Horarios semanales de {{ espacio.nombre }}</h1>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Día</th>
            <th>Franja horaria</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let horario of horarios">
            <td>{{horario.momento.diaDeSemana | translate}}</td>
            <td>{{horario.momento.horarioInicio}} - {{horario.momento.horarioFin}}</td>
            <td><input class="form-check-input" style="padding:20px; display: block; margin-left: auto;" type="checkbox" value="" checked=""></td>
          </tr>
        </tbody>
      </table>
      <button mat-raised-button (click)="crearHorarioDialog()">Agregar horario</button>
    </div>
  </div>