<h1 mat-dialog-title>Nuevo espacio</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="data.nombre">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <input matInput [(ngModel)]="data.descripcion">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button class="mat-raised-button"  (click)="onNoClick()">Descartar</button>
  <button mat-button class="mat-raised-button mat-primary" [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
</div>